<div class="container-fluid flex-grow-1 container-p-y">
    <div class="card">
        <div class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="card-header flex-md-row">
                <div class="head-label text-center">
                    <h5 class="card-title mb-0">Change Password</h5>
                </div>
                
            </div>
            <div class="card-body">
                <form [formGroup]="addForm">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-6">
                            <div class="mb-3">
                                <label class="form-label required" for="basic-default-email">Old Password</label>
                                <input type="password" class="form-control" id="basic-default-company" placeholder="Old Password..."
                                    formControlName="old_password" />
                                <div *ngIf="submittedData && faddData.old_password.errors">
                                    <div *ngIf="faddData.old_password.errors.required">
                                        <span class="error_msg">Old Password is Required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-6">
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-email">New Password</label>
                                <input type="password" class="form-control" id="basic-default-company"
                                    placeholder="New Password" formControlName="new_password" />
                                <div *ngIf="submittedData && faddData.new_password.errors">
                                    <div *ngIf="faddData.new_password.errors.required">
                                        <span class="error_msg">New Password is Required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-6">
                            <div class="mb-3">
                                <label class="form-label required" for="basic-default-email">Confirm Password</label>
                                <input type="password" class="form-control" id="basic-default-company" placeholder="Confirm Password..."
                                    formControlName="confirm_password" />
                                
                                <div *ngIf="submittedData && faddData.confirm_password.errors">
                                    <div *ngIf="faddData.confirm_password.errors.required">
                                        <span class="error_msg">Confirm Password is Required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>