<!-- Content -->

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="javascript:void(0);" class="app-brand-link gap-2">
                            <span class="app-brand-text demo text-body fw-bolder text-capitalize">Face Recognization
                                Attandance System</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Welcome to out system !👋</h4>
                    <p class="mb-4">Please sign-in to your account</p>

                    <form class="mb-3" [formGroup]="loginForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email-username" formControlName="email"
                                placeholder="Enter your email or username" autofocus />
                            <div *ngIf="submittedLoginData && fLoginData.email.errors" class="text-right">
                                <div *ngIf="fLoginData.email.errors.required">
                                    <span class="error_msg">Email ID is Required.</span>
                                </div>
                                <div *ngIf="!fLoginData.email.errors.valid && !fLoginData.email.errors.required">
                                    <span class="error_msg">Please Enter Valid Email ID.</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                                
                            </div>
                            <div class="input-group input-group-merge">
                                <input [type]="hide1 ? 'text' : 'password'" class="form-control" name="password"
                                    formControlName="password"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="password" />
                                <span (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide1" class="input-group-text cursor-pointer"><i
                                        class="bx {{hide1 ? 'bx-show' : 'bx-hide'}}"></i></span>
                            </div>
                            <div *ngIf="submittedLoginData && fLoginData.password.errors" class="text-right">
                                <div *ngIf="fLoginData.password.errors.required">
                                    <span class="error_msg">Password is Required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" (click)="login()">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>

<!-- / Content -->